# Build
dist/
build/
bin/

# Logs
*.log

# Env
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Personal
.crush/

# Temporary
tmp/
temp/

# Binary
*.exe
*.dll
*.so
*.dylib
gasak

# Backup
main-backup.go
